[submodule "include/Plutonium"]
	path = include/Plutonium
	url = https://github.com/HookedBehemoth/Plutonium
[submodule "include/libusbhsfs"]
	path = include/libusbhsfs
	url = https://github.com/DarkMatterCore/libusbhsfs.git
[submodule "include/qrcodegen"]
	path = include/qrcodegen
	url = https://github.com/nayuki/QR-Code-generator
